body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

button {
    width: 100px;
}

.result {
    margin-top: 50px;
    display: flex;
    box-sizing: border-box;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
    width: 300px;
    background-color: rgb(203, 254, 254);
    border-radius: 15px;
}